*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html{
    font-size: 16px;

}
#div1{
    font-size: 20px;
    background-color:rgb(231, 196, 131);
    margin-top: 0%;
    margin-bottom: 0%;
    padding-top: 150px;
    padding-bottom: 200px;
    padding-left: 200px;
    padding-right: 200px;
    border: 40px solid rgb(133, 69, 14);
}
#para{
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 4px 4px 3px rgb(90, 68, 8);
    line-height: 30px;
    letter-spacing: 2px;
    word-spacing: 2px;
    font-size: 2em;
    
}

