#para{
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 4px 4px 3px rgb(58, 11, 134);
    line-height: 30px;
    letter-spacing: 2px;
    word-spacing: 2px;
    
    

    
}

